/* ---Phone View--- */

@media screen and (max-width: 500px) {

    /* *****UNIVERSAL STYLING***** */
    * {
        font-size: 18px;
    }
    /* Generic Header Styling */

    .site-logo {
        width: 50%;
    }

    /* Generic Footer Styling */

    .footer-left, .footer-right {
        width: 100%;
        text-align: center;
    }

    .footer-right {
        padding-left: 0;
    }

    .footer-left .footer-socials {
        justify-content: center;
    }

    #subsForm2 fieldset input {
        width: revert;
    }

    /* misc element styles */

    .titled-divider h2 {
        font-size: 2rem;
        line-height: 2rem;
        text-align: center;
    }

    .titled-divider h2::after {
        display: none;
    }

    /* *****HOME PAGE STYLING***** */
    .order-header {
        text-align: center;
    }
    
    .home-page .hero-section .hero-section-wrapper {
        height: 100vh;
        background-color: #F7F4EF;
    }
    .home-page .hero-section .hero-content-container h1 {
        font-size: 2rem;
        font-weight: 700;
        line-height: 2rem;
        color: #F7F4EF;
    }

    .order-history-section .order-flex-container .customer-orders {
        width: 100%;
    }

    .blog-section.hero-section .hero-content-container h2 {
        font-size: 2rem;
        line-height: 2rem;
    }

    .blog-section .blog-articles.hero-call-to-action {
        margin-top: 20px;
    }

    .blog-section .blog-articles.hero-call-to-action .article-container article {
        width: 100%;
    }

    .blog-section .featured-blogs.blog-articles.hero-call-to-action .article-container article {
        width: 100%;
        margin-bottom: 20px;
    }

    .current-weather-info .current-contents {
        width: 100%;
    }

    .current-weather-info .temps.current-contents h3 span {
        margin-right: 50px;
    }

    #wind-chill {
        margin-top: 100px;
    }

    .weather-section.generic-section .three-day-forecast .day-forecast {
        width: 100%;
        margin-bottom: 20px;
    }

}





  