/* *****IMPORTS***** */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* 

*/
/* *****UNIVERSAL STYLING***** */
body {
    font-size: 22px;
    margin: 0 auto;
    padding: 0;
    max-width: 1040px;
    min-height: 100vh;

}

* {
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #342628;
    letter-spacing: 3px;   
    line-height: 1.7rem;
}

 h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;  
    letter-spacing: 5px;
    margin: 0;
    color: #342628;
    line-height: 1.8rem;
}

ul {
    display: flex;
    
    margin: 0;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* header styles */
header {
    background-color: #342628;
    padding: 20px 30px;
    padding-right: 0;
}

.site-logo, 
.page-navigation {
    display: inline-block;
}


.site-logo h2 a,
footer .footer-left h2 a,
.footer-right fieldset legend {
    font-family: 'Playfair Display', serif;  
    font-weight: 700;
    font-size: 2rem;
    color: #F7F4EF;
}

.page-navigation {
    position: relative;
    float: right;
    width: 50%;
    height: 100%;
}

.page-navigation ul {
    justify-content: flex-end;
    padding: 0;
    width: 100%;
}

.page-navigation ul li {
    border-left: solid 1px #FEAA00;
    padding: 0 30px;
    transition: background-color .3s linear;
}

.page-navigation ul li:hover {
    background-color: #fea900;   
}

.page-navigation ul li a {
    font-size: 1.5rem;
    color: #F7F4EF;
}

#open-icon,
#close-icon {
    display: none;
}

/* misc element styles */
.absolute-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.50);
}

.titled-divider {
    margin: 30px 0;
}

.titled-divider h2 {
    font-size: 3rem;
    line-height: 3rem;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: left;
    text-transform: uppercase;
    margin-top: 40px;
}

.titled-divider h2:after {
    content: '';
    border-top: 6px solid;
    margin: 0 0px 0 20px;
    flex: 1 0 20px;
    color: #FEAA00;
}

.newsletter-form fieldset {
    border: 0;
}

.newsletter-form fieldset legend {
    color: #F7F4EF;
}

.newsletter-form fieldset input[type=text],
.newsletter-form fieldset input[type=email] {
    border: 2px solid #788402;
    border-radius: 10px;
    padding: 8px 12px;
    background-color: #34262898;
    color: #F7F4EF;
    font-weight: 300;
}

.newsletter-form fieldset input:focus {
    outline:none
}

.newsletter-form fieldset input::placeholder {
    color: #f7f4ef91;
}

.newsletter-form fieldset input[type=submit] {
    border: 0;
    padding: 8px 15px;
    font-size: 1rem;
}


.generic-button1 {
    background-color: #342628;
    color: #F7F4EF;
    padding: 15px 25px;
    font-size: 1.5rem;
    display: inline-block;
    border-radius: 100px;
    transition: background-color .5s linear, color .5s linear;
}

.generic-button1:hover {
    background-color: #F7F4EF;
    color: #342628;
}


/* Generic Footer Styling */
footer {
    background-color: #788402;
}

.footer-container {
    display: flex;
    padding: 40px 50px;
    flex-wrap: wrap;
}

.footer-left {
    width: 60%;
}

.footer-left > h3 {
    margin-top: 10px;
    font-family: 'Open Sans', Helvetica, sans-serif;
    color: #F7F4EF;
    font-size: 1.1rem;
    font-weight: 100;
}

.footer-left ul {
    padding-left: 0px;
    margin-top: 5px;
    flex-direction: column;
}

.footer-left ul li {
    color: #F7F4EF;
    font-weight: 100;
}

.footer-left .footer-socials {
    flex-direction: row;
    margin-top: 15px;
    padding-bottom: 30px;
}

.footer-left .footer-socials > li {
    margin-right: 15px;
}

.footer-left .footer-socials > li img {
    border: 2px solid #342628;
    background-color: #342628;
    width: 25px;
    border-radius: 8px;
    padding: 3px;
    transition: background-color .3s linear, border .3s linear;
}

.footer-left .footer-socials > li:hover img {
    border: 2px solid #F7F4EF;
    background-color: transparent;
}

.footer-right {
    width: 40%;
}

#subsForm2 fieldset {
    display: flex;
    flex-direction: column;
}

.footer-right fieldset legend {
    margin-bottom: 18px;
}

#subsForm2.newsletter-form fieldset input[type=text],
#subsForm2.newsletter-form fieldset input[type=email] {
    margin-bottom: 8px;
    background-color: #f7f4ef77;
    font-weight: 500;
    transition: background-color .5s linear;
}

#subsForm2.newsletter-form fieldset input[type=text]:focus,
#subsForm2.newsletter-form fieldset input[type=email]:focus{
    background-color: #34262865;
    color: #fff;
    
}

#subsForm2.newsletter-form fieldset .generic-button1 {
    background-color: #FEAA00;
}

#subsForm2.newsletter-form fieldset .generic-button1:hover {
    background-color: #F7F4EF;
}

.footer-meta-info {
    padding: 10px ;
    text-align: center;
    background-color: #342628;
}

#footer-copyright,
#openweathermap p {
    margin: 0;
    color: #F7F4EF;
    font-size: .8rem;
    
    
}




/* *****HOME PAGE STYLING***** */
.home-page .hero-section {
    position: relative;
}

.home-page .hero-section .hero-section-wrapper {
    height: 50vh;
    position: relative;
}

.home-page .hero-section .hero-image-container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.home-page .hero-section .hero-image-container picture {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #F7F4EF;
    opacity: 0; 
}

.home-page .hero-section .hero-image-container picture img,
.home-page .blog-section .hero-image-container picture img {
    width: 100%;
}

.home-page .hero-section .hero-image-container picture:nth-child(1) {
    opacity: 1;
    animation: imageAnimation 36s linear infinite 0s; 
}

.home-page .hero-section .hero-image-container picture:nth-child(2) {
    animation: imageAnimation 36s linear infinite 0s;  
    animation-delay: 6s; 
}

.home-page .hero-section .hero-image-container picture:nth-child(3) {
    animation: imageAnimation 36s linear infinite 0s; 
    animation-delay: 12s; 
}

.home-page .hero-section .hero-image-container picture:nth-child(4) {
    animation: imageAnimation 36s linear infinite 0s; 
    animation-delay: 18s; 
}

.home-page .hero-section .hero-image-container picture:nth-child(5) {
    animation: imageAnimation 36s linear infinite 0s; 
    animation-delay: 24s; 
}

.home-page .hero-section .hero-image-container picture:nth-child(6) {
    animation: imageAnimation 36s linear infinite 0s;  
    animation-delay: 30s; 
}


@keyframes imageAnimation { 
    0% { opacity: 0; animation-timing-function: ease-in; }
    8% { opacity: 1; animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

.home-page .hero-section .hero-content-container {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
    background-color: #778402d7;
    padding-top: 20px;
    padding-bottom: 30px;
}

.home-page .hero-section .hero-content-container h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 5rem;
    color: #F7F4EF;
}

.home-page .hero-section .hero-content-container h2,
.home-page .hero-section .hero-content-container h2 span {
    font-family: 'Open Sans', Helvetica, sans-serif;
    color: #F7F4EF;
    font-size: 1.1rem;
    font-weight: 100;
}

.home-page .hero-section .hero-content-container p {
    margin-top: 30px;
    color: #F7F4EF;
}

.home-page .hero-section .hero-content-container p a {
    transition: text-decoration 1s linear;
}

.home-page .hero-section .hero-content-container p a:hover {
    text-decoration: underline;
}

#subsForm {
    margin-top: 20px;
}

#subsForm legend {
    margin-bottom: 5px;
}

.hero-call-to-action {
    margin-top: 30px;
    padding: 20px 40px;
    display: grid;
    grid-template-columns: 30% 70%;
    background-color: #FEAA00;
    align-items: center;
}

.hero-call-to-action .hero-call-right {
    text-align: center;
}

.hero-call-to-action .hero-call-right p {
    margin-top: 0px;
    font-size: 1.5rem;
    color: #F7F4EF;
}

/* Home Page Order History Section */
.order-history-section {
    background-color: #F7F4EF;
    padding: 30px;
}

.order-history-section .order-history-main-container .order-header h2 {
    font-size: 3rem;
    line-height: 4rem;
    border-bottom: 2px dashed #34262889;
    margin-bottom: 20px;
}

.order-history-section .order-history-main-container .order-header p {
    margin: 5px 0;
}

.order-history-section .order-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.order-history-section .order-flex-container .customer-orders {
    width: 28%;
    padding: 20px 0 20px 30px;
    background-color: #fea90075;
    margin-top: 30px;
}

.order-history-section .order-flex-container .customer-orders .order-details {
    margin: 0px;
}


.order-history-section .order-flex-container .customer-orders h2 {
    font-size: 1.8rem;
    margin: 0px;
    margin-right: 30px;
    line-height: 3rem;
    letter-spacing: 3px;
    border-bottom: 2px dashed #34262889;
}

.order-history-section .order-flex-container .customer-orders h3 {
    font-family: "Open Sans", Helvetica, sans-serif;
    font-size: 1.5rem;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

.order-history-section .order-flex-container .customer-orders .date {
    margin-top: 5px;
}

.order-history-section .order-flex-container .customer-orders ul {
    display: block;
    margin-bottom: 20px;
    padding-left: 10px;
}

#clear-orders {
    margin: 50px auto 0 auto;
    border: 0;
    background-color: transparent;   
}

#clear-orders:hover {
    text-decoration: underline;
}



/* Home Page Blog Section */
.blog-wrapper.hero-section-wrapper {
    z-index: -100;
}
.home-page .blog-section.hero-section .hero-image-container picture {
    animation: none;
    filter: brightness(70%);
}

.home-page .blog-section.hero-section .hero-content-container {
    width: 90%;
    background-color: transparent;
}

.blog-section.hero-section .hero-content-container h2 {
    font-family: 'Playfair Display';
    font-size: 4rem;
    font-weight: 500;
    line-height: 4.5rem;
    color: #F7F4EF;
}

.blog-section.hero-section .hero-content-container p {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 300;
    color: #F7F4EF;
}

.blog-section .blog-articles.hero-call-to-action {
    background-color: transparent;
    display: block;
    margin-top: -90px;
    z-index: 1000;
}

.blog-section .blog-articles.hero-call-to-action .article-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.blog-section .blog-articles.hero-call-to-action .article-container article {
    width: 22%;
    text-align: center;
}

.blog-section .blog-articles.hero-call-to-action .article-container article h3 {
    font-size: 1.2rem;
    text-transform: uppercase;
}

.blog-section .article-container .blog-beaches > p > a {
    font-weight: 700;
}

.blog-section .blog-articles.hero-call-to-action .article-container article img {
    width: 100%;
    filter: brightness(85%);
}

.featured-blogs.blog-articles.hero-call-to-action {
    margin-top: 0px;
    padding: 20px 0;
}

.featured-blogs .article-container .blog-beaches {
    position: relative;
}

.featured-blogs .article-container .blog-beaches .featured-article-content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
}

.blog-section .featured-blogs.blog-articles.hero-call-to-action .article-container article {
    width: 47%;
}

.blog-section .featured-blogs.blog-articles.hero-call-to-action .article-container article img {
    filter: brightness(60%);
}

.blog-section .featured-blogs .article-container .blog-beaches .featured-article-content h3 {
    font-size: 1.8rem;
    line-height: 2rem;
}

.featured-blogs .article-container .blog-beaches .featured-article-content p,
.featured-blogs .article-container .blog-beaches .featured-article-content a {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 300;
}

.featured-blogs .article-container .blog-beaches .featured-article-content h3,
.featured-blogs .article-container .blog-beaches .featured-article-content p,
.featured-blogs .article-container .blog-beaches .featured-article-content a {
    color: #F7F4EF;
}

.featured-blogs .article-container .blog-beaches .featured-article-content a {
    font-weight: 400;
}

/* Home Page Weather Section */
.weather-section.generic-section {
    background-color: #F7F4EF;
}

.weather-section.generic-section .city-name {
    padding: 20px 30px;
}

.weather-section.generic-section .city-name h2 {
    font-weight: 700;
    font-size: 2rem;
}

.weather-section.generic-section .city-name {
    color: #342628;
}
.current-weather-info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.current-weather-info .current-contents {
    padding-top: 20px;
    width: 31%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.weather-image img {
    display: inline-block;
    margin: 0px auto;
    width: 60%;
}

.current-weather-info .current-contents.wind-humid h3 {
    font-family: 'Open Sans', Helvetica, sans-serif;
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
}

#weather-description {
    text-transform: capitalize;
}

.current-weather-info .current-contents p {
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 1.5rem;
    margin: 5px 0;
}

.current-weather-info .temps.current-contents h3 {
    position: relative;
    font-size: 12rem;
    margin-top: 40px;
}

.current-weather-info .temps.current-contents h3 span {
    float: right;
    font-size: 3rem;
    margin-left: -70px;
}

.weather-section.generic-section .section-wrapper .three-day-forecast {
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
}

.weather-section.generic-section .three-day-forecast .day-forecast {
    padding: 10px 0;
    width: 29%;
    background-color: #342628;
    
}

.weather-section.generic-section .three-day-forecast .day-forecast .forecast-desc {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.weather-section.generic-section .three-day-forecast .day-forecast p {
    color: #F7F4EF;
    font-size: 1.4rem;
    letter-spacing: .05rem;
}

.weather-section.generic-section .three-day-forecast .day-forecast .forecast-header {
    text-align: center;
    text-transform: capitalize;
    margin-top: 10px; 
    margin-bottom: 0;
    font-size: 1.8rem;
}

.weather-section.generic-section .three-day-forecast .day-forecast .forecast-timestamp {
    text-align: center;
    font-size: .9rem;
    margin: 3px 0;
    font-weight: 100;
}



/* *****FRESH PAGE STYLING***** */
.fresh-page {
    margin-bottom: 30px;
}

/* fresh page form part */
.fresh-page.home-page .hero-section .hero-section-wrapper {
    height: 30vh;
}

.create-specialty-drink.hero-call-to-action {
    background-color: transparent;
}

.fresh-page .create-specialty-drink.hero-call-to-action {
    grid-template-columns: 55% 40%;
    column-gap: 5%;
    padding: 20px 0;
    align-items: start;

}

/* orders side left */

.fresh-page .create-specialty-drink.hero-call-to-action .hero-call-left {
    background-color: #F7F4EF;
    padding: 30px;
    min-height: 90%;
}

.customer-info,
.order-details {
    margin-top: 30px;
}

.order-confirmation .order-header h2 {
    font-size: 3rem;
    line-height: 4rem;
}

.order-confirmation h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    border-bottom: 2px dashed #34262889;
    line-height: 3rem;
}

.order-confirmation h3 {
    font-family: "Open Sans", Helvetica, sans-serif;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.order-confirmation p {
    margin: 5px 0;
}

.order-confirmation .order-details h2 {
    margin-bottom: 0px;
}

.order-confirmation .order-details .date{
    margin-bottom: 20px;
}

.order-confirmation .order-details ul {
    display: block;
    margin-bottom: 20px;
}

.order-confirmation .order-details ul li {
    margin: 5px 0;
}

.order-header h2,
.order-confirmation .customer-info .full-name,
.order-confirmation .order-details .date {
    text-transform: capitalize;
}



/* form side right */
.fresh-page .create-specialty-drink.hero-call-to-action .hero-call-right {
    text-align: left;
    width: 100%;
}

.create-specialty-drink-form {
    width: 100%;
}

.create-specialty-drink-form label,
.create-specialty-drink-form label input,
.create-specialty-drink-form label select,
.create-specialty-drink-form label textarea {
    display: block;
}

.create-specialty-drink-form label input,
.create-specialty-drink-form label select,
.create-specialty-drink-form label textarea {
    width: 70%;
    margin-bottom: 20px;
}

 .create-specialty-drink-form .submit-button input {
    width: auto;
    border: 0;
}

.create-specialty-drink-form label input[type=text],
.create-specialty-drink-form label input[type=tel],
.create-specialty-drink-form label input[type=email],
.create-specialty-drink-form label select,
.create-specialty-drink-form label textarea {
    font-weight: 500;
    border: 2px solid #342628;
    border-radius: 10px;
    padding: 8px 12px;
    background-color: #ffff;
    color: #342628;
    transition: background-color .5s linear;
}

.create-specialty-drink-form label input:focus {
    outline:none
}

.create-specialty-drink-form label input::placeholder {
    color: #3426286a;
}

.req input,
.req select {
    border-color: red !important;
}

.req-star {
    color: red;
}


/* *****ABOUT PAGE STYLING***** */
.about-us.fresh-page {
    margin-bottom: 0;
}


.about-us.fresh-page .create-specialty-drink.hero-call-to-action {
    overflow: hidden;
}

.about-us.fresh-page .create-specialty-drink.hero-call-to-action p {
    font-size: 1.4rem;
    line-height: 2rem;
    margin-bottom: 10px;

}

/* side right */
.about-us.fresh-page.fresh-page .create-specialty-drink.hero-call-to-action .hero-call-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-us.fresh-page.fresh-page .create-specialty-drink.hero-call-to-action .hero-call-right .map-section.blog-section.hero-section .hero-section-wrapper {
    margin-top: 0;
}


.about-us.fresh-page.fresh-page .create-specialty-drink.hero-call-to-action .hero-call-right .footer-left {
    margin-top: 50px;
    background-color: #778402;
    padding: 30px;
    width: 100%;
}

.about-us.fresh-page.fresh-page .create-specialty-drink.hero-call-to-action .hero-call-right .footer-left h2{
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 30px;
    color: #F7F4EF;
}

.about-us.fresh-page.fresh-page .create-specialty-drink.hero-call-to-action .hero-call-right .footer-left h3,
.about-us.fresh-page.fresh-page .create-specialty-drink.hero-call-to-action .hero-call-right .footer-left ul li {
    font-size: 1.4rem;
    line-height: 2rem;
    margin-bottom: 10px;
}

.fresh-page.home-page .map-section.blog-section.hero-section .hero-section-wrapper {
    margin-top: 30px;
    height: 50vh;
}

.fresh-page.home-page .map-section.blog-section.hero-section .hero-image-container picture {
    filter: brightness(100%);
}
