/* *****IMPORTS***** */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* 

Some Color Palette:
Primary: https://coolors.co/00171f-084b83-42bfdd-bbe6e4-f0f6f6
#00171F, #084B83, #42BFDD, #BBE6E4, #F0F6F6
Back-up: https://coolors.co/022b3a-303030-1f7a8c-bfdbf7-e1e5f2
#022B3A, #1F7A8C, #BFDBF7, #E1E5F2, #303030


sliding carousel
https://www.youtube.com/watch?v=VYsVOamdB0g
https://www.youtube.com/watch?v=gBzsE0oieio
https://www.youtube.com/watch?v=ll18OYGsxLc
https://www.youtube.com/watch?v=D9RJ9_jZc2Q

*/

:root {
	--back: #1F7A8C;
  --back2: #BFDBF7;
  --foredark: #0000;
	--forelight: hsla(0,0%,100%,1);
	--border: #303030;
	--borderlight: #303030;
	--shadow: #30303092;
	--zebra: #E1E5F2;
}

/* *****UNIVERSAL STYLING***** */
body {
    font-size: 22px;
    background-color: #ffff; 
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
}

* {
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #303030;
    letter-spacing: 3px;   
    line-height: 1.7rem;
}

 h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;  
    letter-spacing: 5px;
    margin: 0;
    color: #fff;
    line-height: 1.8rem;
}

ul li,
ul li a {
    list-style: none;
    color: #fff
}

a {
    text-decoration: none;
}


.page-wrapper {
    width: 100%;
    margin: auto;
    padding: 0;
}
/* Generic Styling */
header {
    text-align: center;
    background-color: #1F7A8C;
    padding: 20px 100px;
    box-shadow: 5px 5px 10px #30303092
}

header h1 {
    font-size: 3rem;
    padding: 50px  0;
}

.main-content-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
}


/* Generic Misc Element Styling */
.bar-divider {
    width: 100%;
    height: 2px;
    background-color: #303030;
    margin-top: 10px;
}

/*Table Element Styling */

table {
	margin: 50px auto 0px auto;
	border: thin solid var(--border);
	box-shadow: 5px 5px 10px #30303092;
	border-collapse: collapse;
}

caption {
  padding: 10px;
  caption-side: bottom;
	color: var(--back);
	font-size: .85rem;
}

tr:first-child th, .highlight {
	background-color: var(--back);
	color: var(--forelight);
}

th, td {
	padding: 7px 15px;
	border: 1px solid var(--borderlight);
}

th {
	background-color: var(--back2);
}

td {
	text-align: center;
}

tbody tr:nth-child(even) {
	background-color: var(--zebra);
}




/* Generic Footer Styling */
footer {
    background-color: #1F7A8C;
    margin-top: 50px;
}

footer .footer-logo-wrapper,
footer .footer-contact {
    width: 100%;
}

.footer-container {
    padding: 50px 100px;
    display: grid;
    align-items: flex-start;
    grid-template-columns: 50% 50%;

}

.footer-logo-wrapper h2 {
    font-family: 'Open Sans', Helvetica, sans-serif;
    color: #fff;
    font-size: 1.2rem;
    margin-top: 20px;
    font-weight: 200;
}

.footer-contact {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.footer-contact h2 {
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
}

.footer-contact ul {
    padding: 0;
}

.footer-contact ul li,
.footer-contact ul li a {
    padding-bottom: 8px;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 200;
}

#footer-copyright {
    font-size: .9rem;
    font-weight: 300;
}

#footer-copyright strong {
    color: #fff;
    font-weight: 500;
}

.footer-meta-info {
    padding: 2px 0;
    text-align: center;
    background-color: #022B3A;
}

.footer-meta-info a p {
    color: #fff;
}



/* ***** PAGE STYLING***** */
