@media screen and (max-width: 1550px) and (min-width: 851px){
    header {
        padding: 20px 20px;
    }
    
    .main-content-wrapper {
        margin: 30px 20px;
    } 

    .page-sections {
        min-height: 400px; 
    }

    .left-sidebar-join .join .join-slideshow {
        margin-bottom: 270px;
    }

    .left-sidebar-weather .weather-info-one img {
        width: 100px;
        height: 100px;
    }

    .left-sidebar-weather .weather .weather-info-one p {
        font-size: 2rem;
        padding-left: 20px;
    }
    
    footer .footer-container {
        padding: 20px 20px;
    }

}