/* *****MOBILE VIEWS STYLING***** */ 

/* ---Tablet View--- */

@media screen and (max-width: 850px) {

    /* *****UNIVERSAL STYLING***** */
    * {
        font-size: 20px;
    }

    header, .footer-container {
        padding: 20px;
    }

    .page-navigation {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background-color: #BFDBF7;
    }

    .page-navigation ul {
        padding: 0;
    }

    .page-navigation ul li {
        padding: 15px 0;
        border-bottom: solid 4px #abd0f4;
    }

    .page-navigation {
        display: none;
        z-index: -1000;
    }

    .page-navigation.active {
        display: block;
        z-index: 1000;
    }


    .page-navigation ul {
        display: block;
        text-align: center;
    }

    .social-with-burger .hamburger-icon,
    .page-navigation .close-icon {
        display: block;
        top: 30px;
        background: rgba(255, 255, 255, 0.688);
        color: #022B3A;
        border: 3px #303030 solid;
        border-radius: 8px;
    }

    .social-with-burger .hamburger-icon {
        position: absolute;
        right: 30px;
        padding: 0;
        margin: 0;
    }
    .page-navigation .close-icon {
        position: fixed;
        left: 30px;
        padding: 2px 12px;
    }

    .social-with-burger .hamburger-icon button,
    .page-navigation .close-icon button {
        color: #303030;
        font-size: 2rem;
        background-color: transparent;
        border: 0px;
        padding: 15px;
    }

    .footer-logo-wrapper > img {
        width: 300px;
    }

    .footer-contact h2 {
        font-size: 1.2rem;
    }

    .footer-contact ul li,
    .footer-contact ul li a {
        font-size: .6rem;
        padding-bottom: 0px;
        margin-top: -10px;
    }

    .footer-meta-info {
        padding: 2px 20px;

    }

    /* *****HOME PAGE LAYOUT***** */
    .main-content-wrapper {
        display: flex;
        flex-wrap: wrap;
        margin: 30px 0;
        justify-content: center;
    }

    .page-sections {
        min-height: 450px; 
        width: 100vw;
        margin-bottom: 20px;
    }

    .page-sections.spotlight-two,
    .page-sections.spotlight-one {
        width: 47%;
        padding: 10px;
    }

    .page-sections.spotlight-one {
        margin-right: -20px;
    }

    .page-sections.spotlight-three {
        display: none;
    }

    .spotlight-container .content-container .lower-part {
        margin-top: 100px;
    }

    .page-sections.left-sidebar-event,
    .page-sections.left-sidebar-weather {
        order: 8;
        margin-top: 0;
    }

    .page-sections.left-sidebar-join {
        order: 7;
    }

}


/*
    .main-content-wrapper {
        display: flex;
        flex-direction: column;
        margin: 30px 0;
    }

    .page-sections {
        height: 400px; 
    }

    .page-sections.spotlight-two,
    .page-sections.spotlight-one {
        width: 50%;
        display: inline !important;
    }

    .page-sections.spotlight-one {
        float: left !important;
    }

    .page-sections.spotlight-three {
        display: none;
    }

    .page-sections.left-sidebar-event,
    .page-sections.left-sidebar-weather {
        order: 8;
    }

    .page-sections.left-sidebar-join {
        order: 7;
    }












.main-content-wrapper {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        margin: 30px 0;
    }

    .page-sections.hero,
    .page-sections.news-release,
    .page-sections.spotlight-one,
    .page-sections.spotlight-two,
    .page-sections.left-sidebar-event,
    .page-sections.left-sidebar-join {
        height: 400px;

        margin-bottom: 10px;
    }

    .page-sections.spotlight-one {
        float: left;
        margin-right: -1px;
    }

    .page-sections.spotlight-one,
    .page-sections.spotlight-two {
        display: inline-block;
        width: 50%;  
    }

    .page-sections.spotlight-three {
        display: none;
        order: 8 !important;
    }

    .page-sections.left-sidebar-join {
        order: 5 !important;
    }


    


    */