/* *****MOBILE VIEWS STYLING***** */ 

/* ---Tablet View--- */

@media screen and (max-width: 850px) {

    /* *****UNIVERSAL STYLING***** */
    * {
        font-size: 26px;
    }

    /* Generic Nav and Header Styling */
    .marquee span {
        animation: marquee 10s linear infinite;
    }

    .marquee2 span {
        animation-delay: 10s;
    }

    header, .footer-container {
        padding: 20px;
    }

    .page-navigation {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background-color: #BFDBF7;
    }

    .page-navigation ul {
        padding: 0;
    }

    .page-navigation ul li {
        padding: 15px 0;
        border-bottom: solid 4px #abd0f4;
    }

    .page-navigation {
        display: none;
        z-index: -1000;
    }

    .page-navigation.active {
        display: block;
        z-index: 1000;
    }


    .page-navigation ul {
        display: block;
        text-align: center;
    }

    .social-with-burger .hamburger-icon,
    .page-navigation .close-icon {
        display: block;
        top: 30px;
        background: rgba(255, 255, 255, 0.688);
        color: #022B3A;
        border: 3px #303030 solid;
        border-radius: 8px;
    }

    .social-with-burger .hamburger-icon {
        position: absolute;
        right: 30px;
        padding: 0;
        margin: 0;
    }
    .page-navigation .close-icon {
        position: fixed;
        left: 30px;
        padding: 2px 12px;
    }

    .social-with-burger .hamburger-icon button,
    .page-navigation .close-icon button {
        color: #303030;
        font-size: 2rem;
        background-color: transparent;
        border: 0px;
        padding: 15px;
    }

    /* Generic Misc Element Styling */
    .page-sections.common-card .common-text-card p {
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.7rem;
    }

    .common-header-three {
        font-size: 1.6rem;
    }

    /* Generic Footer Styling */
    footer {
        padding-top: 30px;
    }

    .footer-logo-wrapper > img {
        width: 300px;
    }

    footer .footer-logo-wrapper,
    footer .footer-contact {
        width: 90%;
    }

    .footer-contact {
        display: block;
    }

    .footer-contact h2 {
        font-size: 1.5rem;
    }

    footer .footer-logo-wrapper h2,
    .footer-contact ul li,
    .footer-contact ul li a {
        word-wrap: break-word;
        font-size: 1rem;
        line-height: 1.4rem;
    }

    .footer-meta-info {
        padding: 2px 20px;

    }

    /* *****HOME PAGE LAYOUT***** */
    .main-content-wrapper {
        display: flex;
        flex-wrap: wrap;
        margin: 30px 0;
        justify-content: center;
    }

    .page-sections {
        min-height: 450px; 
        width: 100vw;
        margin-bottom: 20px;
    }

    .page-sections.news-release {
        height: 650px;
    }

    .page-sections.news-release p {
        margin-bottom: 0;
    }

    .page-sections.hero .hero-div .inner-content-container {
        padding: 50px 40px;
    }

    .hero-div .content-container h1 {
        font-size: 3rem;
        line-height: 3.5rem;
        margin-bottom: 20px;
    }

    .page-sections.spotlight-two,
    .page-sections.spotlight-one {
        width: 46%;
        padding: 20px 0;
    }

    .page-sections.spotlight-two {
        padding-right: 20px;
        padding-left: 10px;
    }

    .page-sections.spotlight-one {
        margin-right: -20px;
        padding-right: 10px;
        padding-left: 20px;
    }

    .spotlight-container {
        box-shadow: 5px 5px 10px #30303000;
    }

    .spotlight-container .content-container .lower-part {
        margin-top: 170px;
    }

    .spotlight-container .content-container .lower-part p {
        word-wrap: break-word;
    }

    .page-sections.spotlight-three {
        display: none;
    }

    .page-sections.left-sidebar-event,
    .page-sections.left-sidebar-weather {
        order: 8;
        margin-top: 0;
    }

    .left-sidebar-weather {
        width: 37%;
        height: 600px;
    }

    .left-sidebar-weather h3 {
        margin-bottom: 30px;
    }

    .left-sidebar-weather .weather-info-one img {
        width: 110px;
        height: 110px;
    }

    .left-sidebar-weather .weather .weather-info-one p {
        font-size: 1.2rem;
        padding-left: 10px
    }

    .left-sidebar-weather table td:first-child {
        padding-right: 10px;
    }

    .left-sidebar-weather .weather-contailer table tbody tr td {
        font-size: 1rem;
        text-align: left;
        line-height: 1.3rem;
        padding-bottom: 10px;
    }

    .left-sidebar-event {
        width: 60%
    }

    .left-sidebar-event .common-text-card.event p,
    .left-sidebar-event p a {
        font-size: 1rem;
        line-height: 1.3rem;
    }

    .left-sidebar-join .join .join-slideshow {
        margin-bottom: 240px;
    }

    .page-sections.left-sidebar-join {
        order: 7;
    }

    .left-sidebar-join .content-container p {
        font-weight: 300;
    }

     /* *****DISCOVER PAGE LAYOUT***** */
     .single-page-layout .main-content-wrapper .hero,
     .discover-page .main-content-wrapper .hero {
        height: 10vh;
    }

     .discover-divider {
         display: flex;
         flex-direction: column;
         margin-left: 50px;
         margin-right: 50px;
         text-align: center;
     }

     .demographic-column {
        padding-right: 0px;
    }

    .feature-column {
        margin-top: 100px;
        padding-left: 0px;
        border-left: 0px;
    }

    /* *****JOIN PAGE LAYOUT***** */
    .join-page .demographic-column {
        margin-right: 20px;
        margin-left: 20px;
    }

    .join-page legend {
        padding: 0px;
    }

    .join-page .demographic-column form fieldset {
        padding: 60px 20px;
        padding-top: 30px;
    }

    #joinForm input,
    #joinForm textarea {
        text-align: center;
        width: 90%;
        height: 50px;
    }

    #joinForm textarea {
        height: 200px;
    }


    #joinForm .generic-button-blue {
        height: revert;
    }


    .join-page .feature-column {
        margin-top: 150px;
        padding: 50px 20px;
    }

    .membership-info > label {
        margin-top: 60px;
    }

}


