/* *****IMPORTS***** */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* 

Some Color Palette:
Primary: https://coolors.co/00171f-084b83-42bfdd-bbe6e4-f0f6f6
#00171F, #084B83, #42BFDD, #BBE6E4, #F0F6F6
Back-up: https://coolors.co/022b3a-303030-1f7a8c-bfdbf7-e1e5f2
#022B3A, #1F7A8C, #BFDBF7, #E1E5F2, #303030

*/
/* *****UNIVERSAL STYLING***** */
body {
    font-size: 22px;
    background-color: #ffff; 
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
}

* {
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #303030;
    letter-spacing: 3px;   
    line-height: 1.7rem;
}

 h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;  
    letter-spacing: 5px;
    margin: 0;
    color: #fff;
    line-height: 1.8rem;
}

ul li {
    list-style: none;
    color: #fff
}

a {
    text-decoration: none;
}

.page-wrapper {
    width: 100%;
    margin: auto;
    padding: 0;
}

header {
    background-color: #1F7A8C;
    padding: 20px 100px;
    display: grid;
    align-items: center;
    grid-template-columns: 30% 50% 20%;
}

.page-logo-wrapper {
    width: 100%;
}

header nav ul {
    display: flex;
}

nav ul li a {
    font-size: 1.5rem;
    color: #fff
}

.page-navigation ul {
    display: flex;
    justify-content: space-between;
}

.social-with-burger {
    justify-self: end;
}

.social-with-burger ul li {
    margin-left: 10px;
}

.social-with-burger .fa {
    font-size: 2rem;
    color: #fff;
}

.fa.fa-facebook {
    background-color: #4064AC;
}

.fa.fa-linkedin {
    background-color: #00B7BB;
}

.social-with-burger .hamburger-icon {
    display: none;
}

.current-date {
    grid-column: 1/4;
    text-align: center;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.535);
}

footer {
    background-color: #1F7A8C;
}

.footer-container {
    padding: 50px 100px;
    display: grid;
    align-items: top;
    grid-template-columns: 50% 50%;

}

.footer-contact {
    justify-self: end;
}

.footer-contact h2 {
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
}

.footer-contact ul li {
    padding-bottom: 8px;
}

#footer-copyright {
    font-size: .9rem;
    font-weight: 300;
}

#footer-copyright strong {
    color: #fff;
    font-weight: 500;
}

.footer-meta-info {
    padding: 2px 0;
    text-align: center;
    background-color: #022B3A;
}

.footer-meta-info a p {
    color: #fff;
}



/* *****MAIN PAGE STYLING***** */
.page-sections.page-section-two {
    margin: 40px 0;
}

.main-page .page-section-four img {
    width: 100%;
    margin-top: 30px;
}

/* *****Color Scheme Styling***** */
.page-section-two .color-block {
    padding: 10px 30px;
    margin: 30px 0;
}

.page-section-two .color-block p strong {
    font-weight: 700;
}

.page-section-two .color1 {
    background-color: #1F7A8C;
}

.page-section-two .color1 p,
.page-section-two .color1 p strong {
    color: #fff;
}


.page-section-two .color2 {
    background-color: #E1E5F2;
}

.page-section-two .color3 {
    background-color: #022B3A;
}

.page-section-two .color3 p,
.page-section-two .color3 p strong {
    color: #fff;
}

.page-section-two .color4 {
    background-color: #BFDBF7;
}

/* *****Target Audience Styling***** */

.personas-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
}

.personas-container .personas-card {
    box-shadow: 5px 5px 10px #30303049;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}

.personas-container .personas-card > h3 {
    padding: 10px 30px;
    background-color: #032B3A;
    color: #ffff
}

.personas-container .personas-card .card-content {
    padding: 30px 30px;
}

.persona-about img {
    width: 100%;
    height: 100%;
    margin-bottom: 40px;
}

.personas-container h4 {
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-weight: 700;
    color: #303030;
}

.page-section-four {
    margin: 60px 0;
}

/* *****Typography Styling***** */
.font-descriptions > p {
    font-size: 1.8rem;
}

.typography-page .page-sections > .font-descriptions,
.typography-page .page-sections > .paragraphs > div {
    margin: 70px 0;
}

.paragraph2 p {
    background-color: #E1E5F2;
    padding: 30px;
}





/* *****MOBILE VIEWS STYLING***** */ 

/* ---Tablet View--- */

@media screen and (max-width: 850px) {

    * {
        font-size: 20px;
    }

    .main-content {
        padding: 40px;
    }

    .main-content .main-content-wrapper {
        margin-top: 20px;
    }

    .personas-container {
        display: block;
    }

    .personas-container .personas-card-two {
        margin-top: 60px;
    }

}

/* ---Phone View--- */

@media screen and (max-width: 500px) {

    * {
        font-size: 15px;
    }

    .page-navigation ul {
        display: block;
    }

    .page-wrapper {
        width: 100vw;
        margin: 0;
        text-align: center;
    }

    .main-content .main-content-wrapper {
        display: block;
        width: 100%;
    }

    .content-sections {
        margin-bottom: 50px;
        text-align: center;
    }

    .target-audience .page-section-four ul,
    .persona-demographics ul {
        padding: 0;
    }

    .target-audience .page-section-four ul li,
    .persona-demographics ul li {
        list-style: none;
    }

  }











