/* *****IMPORTS***** */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* 

Some Color Palette:
Primary: https://coolors.co/00171f-084b83-42bfdd-bbe6e4-f0f6f6
#00171F, #084B83, #42BFDD, #BBE6E4, #F0F6F6
Back-up: https://coolors.co/022b3a-303030-1f7a8c-bfdbf7-e1e5f2
#022B3A, #1F7A8C, #BFDBF7, #E1E5F2, #303030


sliding carousel
https://www.youtube.com/watch?v=VYsVOamdB0g
https://www.youtube.com/watch?v=gBzsE0oieio
https://www.youtube.com/watch?v=ll18OYGsxLc
https://www.youtube.com/watch?v=D9RJ9_jZc2Q

*/
/* *****UNIVERSAL STYLING***** */
body {
    font-size: 22px;
    background-color: #ffff; 
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
}

* {
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #303030;
    letter-spacing: 3px;   
    line-height: 1.7rem;
}

 h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;  
    letter-spacing: 5px;
    margin: 0;
    color: #fff;
    line-height: 1.8rem;
}

ul li,
ul li a {
    list-style: none;
    color: #fff
}

a {
    text-decoration: none;
}

.page-wrapper {
    width: 100%;
    margin: auto;
    padding: 0;
}
/* Generic Nav and Header Styling */
.wednesday-prompt {
    background-color: #303030;
    position: relative;
    display: block;
    width: 100%;
    height: 40px;
    overflow: hidden;
}

.marquee {
    position: absolute;
    display: block;
    margin: auto auto;
    white-space: nowrap;
    overflow: hidden;
    min-width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.marquee span {
    display: inline-block;
    padding-left: 100%;
    text-align: center;
    white-space: nowrap;
    min-width: 100%;
    height: 100%;
    animation: marquee 20s linear infinite;
}

.marquee2 span {
    animation-delay: 10s;
}
@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}

.wednesday-prompt span {
    color: #fff;
}

header {
    background-color: #1F7A8C;
    padding: 20px 100px;
    display: grid;
    align-items: center;
    grid-template-columns: 30% 50% 20%;
    box-shadow: 5px 5px 10px #30303049
}

.page-logo-wrapper {
    width: 100%;
}

header nav ul {
    display: flex;
}

nav ul li a {
    font-size: 1.5rem;
    color: #fff
}

nav ul li a:hover {
    color: #303030;
}

.page-navigation ul {
    display: flex;
    justify-content: space-between;
}

.social-with-burger {
    justify-self: end;
}

.social-with-burger ul li {
    margin-left: 10px;
}

.social-with-burger .hamburger-icon,
.page-navigation .close-icon{
    display: none;
}

.current-date {
    grid-column: 1/4;
    text-align: center;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.535);
}

/* Generic Button Styling */
.generic-button-blue {
    background-color: #BFDBF7;
    border: solid #BFDBF7 1px;
    border-radius: 5px;
    color: #303030;
    font-weight: 600;
    transition: all .2s linear;
    font-size: 1.5rem;
    padding: 15px 25px;
}

.generic-button-blue:hover {
    background-color: #bfdbf755;
    transform: scale(1.1) translateY(-4px);
}

/* Generic Misc Element Styling */
.bar-divider {
    width: 100%;
    height: 2px;
    background-color: #303030;
    margin-top: 10px;
}

.absolute-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.50);
}

.common-header-three {
    color: #303030;
    font-weight: 700;
    font-size: 1.4rem;
}

.content-container {
    position: absolute;
    z-index: 500;
    height: 100%;
    width: 100%;
}


.page-sections.common-card {
    text-align: center;
    position: relative;
}

.page-sections.common-card .common-text-card {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    padding: 30px;
}

.page-sections.common-card > .event > h3{
    font-family: 'Open Sans', Helvetica, sans-serif;
    margin-top: 40px;
    text-transform: uppercase;
    letter-spacing: .2rem;
}

.page-sections.common-card .common-text-card p {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.7rem;
}

.page-sections .sidebar {
    text-align: center;
}

/* Generic Footer Styling */
footer {
    background-color: #1F7A8C;
}

footer .footer-logo-wrapper,
footer .footer-contact {
    width: 100%;
}

.footer-container {
    padding: 50px 100px;
    display: grid;
    align-items: flex-start;
    grid-template-columns: 50% 50%;

}

.footer-logo-wrapper h2 {
    font-family: 'Open Sans', Helvetica, sans-serif;
    color: #fff;
    font-size: 1.2rem;
    margin-top: 20px;
    font-weight: 200;
}

.footer-contact {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.footer-contact h2 {
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
}

.footer-contact ul {
    padding: 0;
}

.footer-contact ul li,
.footer-contact ul li a {
    padding-bottom: 8px;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 200;
}

#footer-copyright {
    font-size: .9rem;
    font-weight: 300;
}

#footer-copyright strong {
    color: #fff;
    font-weight: 500;
}

.footer-meta-info {
    padding: 2px 0;
    text-align: center;
    background-color: #022B3A;
}

.footer-meta-info a p {
    color: #fff;
}



/* *****HOME PAGE STYLING***** */

/* Hero Styling */
/* Animated Sliding BG */
.page-sections.hero .hero-div{
    position: relative;
    height: 100%;
}

.page-sections.hero .hero-div > .content-container {
    top: 50%;
    left: 0;
    right: 0;
    height: fit-content;
    text-align: center;
    transform: translateY(-50%);
}

.page-sections.hero .hero-div .inner-content-container {
    width: fit-content;
    margin: 0 auto;
    padding: 100px 30px;
    background-color: rgba(0, 0, 0, 0.701);
}

.page-sections.hero .hero-div .inner-content-container:hover .generic-button-blue {
    transform: scale(1.1) translateY(-4px);
}

.hero-div .content-container h1 {
    font-size: 5rem;
    line-height: 5rem;
    margin-bottom: 90px;
    text-transform: uppercase;
}

.hero-div .bg-slideshow {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.bg-slideshow li {
    list-style: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px; 
}

.page-sections.hero .bg-slideshow li {
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    z-index: 100; 
    color: transparent;
    opacity: 0; 
}

.page-sections.hero .hero-div  .bg-slideshow li:nth-child(1) {  
    animation: imageAnimation 36s linear infinite 0s; 
    background-image: url(../images/hero1.jpg) 
}
.page-sections.hero .hero-div .bg-slideshow li:nth-child(2) { 
    animation: imageAnimation 36s linear infinite 0s; 
    background-image: url(../images/hero2.jpg);
    animation-delay: 6s; 
}
.page-sections.hero .hero-div  .bg-slideshow li:nth-child(3) {
    animation: imageAnimation 36s linear infinite 0s;  
    background-image: url(../images/hero3.jpg);
    animation-delay: 12s; 
}

.page-sections.hero .hero-div  .bg-slideshow li:nth-child(4) { 
    animation: imageAnimation 36s linear infinite 0s; 
    background-image: url(../images/hero4.jpg);
    animation-delay: 18s; 
}
.page-sections.hero .hero-div  .bg-slideshow li:nth-child(5) { 
    animation: imageAnimation 36s linear infinite 0s; 
    background-image: url(../images/hero5.jpg);
    animation-delay: 24s; 
}
.page-sections.hero .hero-div  .bg-slideshow li:nth-child(6) { 
    animation: imageAnimation 36s linear infinite 0s; 
    background-image: url(../images/hero6.jpg);
    animation-delay: 30s; 
}

@keyframes imageAnimation { 
    0% { opacity: 0; animation-timing-function: ease-in; }
    8% { opacity: 1; animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

/* Left Sidebar Styling */

.left-sidebar-event p a {
    color: #303030;
}

.left-sidebar-event p a:hover {
    color: #1F7A8C;
}

.left-sidebar-weather .weather-info-one {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

.left-sidebar-weather .weather-info-one img {
    transition: transform .3s linear;
}

.left-sidebar-weather:hover .weather-info-one img {
    transform: scale(1.15);
}

.left-sidebar-weather .weather .weather-info-one p {
    font-size: 3rem;
    padding-left: 50px;
    transition: transform .3s linear;
}

.left-sidebar-weather:hover .weather-info-one p {
    transform: scale(1.05);
}

.left-sidebar-weather table {
    margin: 0 auto;
    margin-top: 10px;
}

.left-sidebar-weather .weather table td {
    font-size: 1.2rem;
}


.left-sidebar-weather table td:first-child {
    text-align: right;
    padding-right: 50px;
}

.left-sidebar-join {
    background-image: url(../images/join.jpg);
    background-size: cover;
    background-position: center center;
}

.left-sidebar-join .content-container {
    height: initial;
    top: 50%;
    transform: translateY(-50%);
}

.left-sidebar-join .content-container .join-slideshow {
    margin-bottom: 170px;
}

.left-sidebar-join .content-container .bg-slideshow li {
    opacity: 0;
}

.page-sections.left-sidebar-join .join-slideshow  .bg-slideshow li:nth-child(1) {
    animation: imageAnimation 24s linear infinite 0s;  
}

.page-sections.left-sidebar-join .join-slideshow  .bg-slideshow li:nth-child(2) {
    animation: imageAnimation 24s linear infinite 0s; 
    animation-delay: 8s; 
}

.page-sections.left-sidebar-join .join-slideshow  .bg-slideshow li:nth-child(3) {
    animation: imageAnimation 24s linear infinite 0s; 
    animation-delay: 16s; 
}


.left-sidebar-join .content-container p {
    margin-top: 0;
    padding: 0 30px;
    color: #fff;
    font-weight: 300;
    font-size: 1.4rem;
}

.left-sidebar-join:hover .content-container button {
    transform: scale(1.1) translateY(-4px);
}

/* Right Sidebar Styling */
.page-sections.spotlight-one,
.page-sections.spotlight-two,
.page-sections.spotlight-three{
    padding: 0 30px;
}

.page-sections.spotlight-one .spot-one,
.page-sections.spotlight-two .spot-two,
.page-sections.spotlight-three .spot-three{
    position: relative;
    text-align: center;
    height: 100%;
    background-size: cover;
}

.spotlight-container .absolute-overlay {
    background-color: rgba(0, 0, 0, 0.70);
}

.page-sections.spotlight-one {
    padding-top: 30px;
}

.page-sections.spotlight-three {
    padding-bottom: 30px;
}

.spotlight-container {
    padding: 30px;
    box-shadow: 5px 5px 10px #3030306f;
}

.spotlight-container .content-container {
    position: relative;
    
}

.spotlight-container .content-container .lower-part {
    margin-top: 170px;
}

.spotlight-container .content-container .lower-part p {
    margin-top: 10px;
    margin-bottom: 0;
}

.spotlight-container .content-container .lower-part p:last-child {
    margin-top: 0px;
}

.spotlight-container .content-container h3,
.spotlight-container .content-container p,
.spotlight-container .content-container em {
    color: #fff;
    text-shadow: 0px 1px 15px rgba(0,0,0,1);
}

.spotlight-container .content-container .bar-divider {
    background-color: #fff;
}

.spotlight-container .content-container .lower-part {
    grid-row: 2/3;
}

.page-sections.spotlight-one .spot-one {
    background-image: url(../images/truck2.jpg);
    background-position: 50% 65%;
}

.page-sections.spotlight-two .spot-two {
    background-image: url(../images/coding1.jpg);
    background-position: 30% 50%;
}

.page-sections.spotlight-three .spot-three {
    background-image: url(../images/treehouse1.jpg);
    background-position: 30% 30%;
}





/* ---Desktop View Layout--- */

.page-sections {
    background-color: #E1E5F2;
    box-shadow: 5px 5px 10px #30303049
}

.page-sections.left-sidebar-event,
.page-sections.page-sections.news-release {
    background-color: #BFDBF7;
}

.main-content-wrapper {
    margin: 30px 150px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 20px;
}

.page-sections.hero {
    grid-column: 2/4;
    grid-row: 1/3;
    margin-bottom: 20px;
}

.page-sections.news-release {
    grid-column: 2/4;
    grid-row: 3/4;
}

.page-sections.spotlight-one {
    grid-column: 4/5;
    grid-row: 1/2;
}

.page-sections.spotlight-two {
    grid-column: 4/5;
    grid-row: 2/3;
}

.page-sections.spotlight-three {
    grid-column: 4/5;
    grid-row: 3/4;
}

.page-sections.left-sidebar-event {
    grid-column: 1/2;
    grid-row: 1/2; 
}

.page-sections.left-sidebar-weather {
    margin: 20px 0;
    grid-column: 1/2;
    grid-row: 2/3; 
}

.page-sections.left-sidebar-join {
    grid-column: 1/2;
    grid-row: 3/4; 
}

























